#hi1 {
    color: blue;
    background-color: aliceblue;
    border: blue double 10px;
}

#hi2 {
    color: blue;
    background-color: aliceblue;
    border: blue double 10px;
}

#hi3 {
    color: blue;
    background-color: aliceblue;
    border: blue double 10px;
}

#hi4 {
    color: blue;
    background-color: aliceblue;
    border: blue double 10px;
}

#hi5 {
    color: blue;
    background-color: aliceblue;
    border: blue double 10px;
}


.p {
    background-color: aquamarine;
    border: red;
    text-align: center;
}